<h1>Welcome to online book store</h1>

<p>Browse for all kind pf books you like, we have all of them
<br>For real I mean <strong>ALL OF THEM!</strong></p>
  <hr>
<p>Ohh well, here are our <h1>Top sellers</h1></p>

<ul>
{{#each model as |book|}}
{{book-tile book=book}}
{{/each}}
</ul>
